<!DOCTYPE html>

<html>
     <!--Schrift und Zeichenkodierung-->
     <head><meta charset="utf-8"/> <style>body {font-family: system-ui, sans-serif;}</style></head> <!--change default font-->

     <!--Cloudfare styles für bestimmte -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="header.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


     <header>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
        <title>mabyst | made by students </title>
          
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
          <a class="navbar-brand" href="#"><b>Dashboard</b></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        

        <li class="nav-item active">
          <a class="nav-link" href="/home">Editor </a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" href="/nichts">Bestellungen </a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <li class="nav-item">
            <a style="color: rgb(133, 75, 75);" class="nav-link" href="/home">Dashboard verlassen </a>
          </li>
        </li>

    </ul>
      
      <span class="navbar-text">
      </span>
    </div>

    


  </nav>
        
        </header>
        

        <body>
            <center>
                <p style="color: white;  font-size: 50px; ">Made by Students Dashboard </p>
                <p style="color:red"><b>Hinweis:</b> Bitte Seite neuladen wenn Text nicht geladen wurde</p>
            </center>   
            
            <div style="margin-left: 100px; margin-top: 50px; margin-right: 100px;">
                <div class="card text-center bg-dark">
                    <div class="card-header">
                      <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#">Homepage</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#">CO<sub>2</sub> Sensor</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#">Kaufen</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active href="#">Hilfe</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link " href="/aofdhvbawes-dashboard">Über uns </a>
                        </li>
                      </ul>
                    </div>

                    <div class="card-body">

                        
                        <h5 class="card-title" style="color: white; margin-bottom: 40px;">Fragen updaten</h5>

                        <hr style="background-color: white; margin-bottom: 50px;">
                        <div class="form-group row" style="margin-top: 20px; margin-left: 100px; ">
                          <div class="card bg-dark mb-3 " style="width: 400px; margin-right: 100px; ;  ">
                            <div class="card-header" style="color: white; background-color: #4d4b4b;";> 
                              Frage 1
                            </div>
                            <div class="card-body"  style="color: white; background-color: #3d3c3c;"" ;>
                              <blockquote class="blockquote mb-0">
                                <div class="form-group row" style="margin-top: 20px;">
                                  <p  style="color: white;font-size: 15px; width: 50px;">Frage:</p>
                                  <div class="col-sm-10">
                                     <textarea id="f1q" class="form-control  bg-dark mb-3" style="height: 40px; width: 300px; color: white;" aria-label="With textarea"><%= frage_1 %></textarea>
                                  </div>                              
                                </div >
                                                        
                                <div class="form-group row" style="margin-top: 20px;">
                                  <p  style="color: white;font-size: 13px; width: 50px;">Antwort:</p>
                                  <div class="col-sm-10">
                                     <textarea id="f1a" class="form-control  bg-dark mb-3" style="height: 150px; width: 300px; color: white;" aria-label="With textarea"><%= antwort_1 %></textarea>
                                  </div>
                                </div>  
                              </blockquote>
                              <a href="#" id="f1" class="btn btn-primary" id="f1" style="margin-top: 5px;">Frage & Antwort updaten</a>
                            </div>
                          </div>

                          <div class="card bg-dark mb-3 " style="width: 400px; margin-right: 100px">
                            <div class="card-header" style="color: white; background-color: #4d4b4b;";> 
                              Frage 2
                            </div>
                            <div class="card-body"  style="color: white; background-color: #3d3c3c;"" ;>
                              <blockquote class="blockquote mb-0">
                                <div class="form-group row" style="margin-top: 20px;">
                                  <p  style="color: white;font-size: 15px; width: 50px;">Frage:</p>
                                  <div class="col-sm-10">
                                     <textarea id="f2q" class="form-control  bg-dark mb-3" style="height: 40px; width: 300px; color: white;" aria-label="With textarea"><%= frage_2 %></textarea>
                                  </div>                          
                                </div >
                      
                                <div class="form-group row" style="margin-top: 20px;">
                                    <p  style="color: white;font-size: 13px; width: 50px;">Antwort:</p>
                                  <div class="col-sm-10">
                                     <textarea id="f2a" class="form-control  bg-dark mb-3" style="height: 150px; width: 300px; color: white;" aria-label="With textarea"><%= antwort_2 %></textarea>
                                  </div>
                                </div>  
                              </blockquote>
                              <a href="#" id="f2" class="btn btn-primary" id="f2" style="margin-top: 5px;">Frage & Antwort updaten</a>
                            </div>
                          </div>

                          <div class="card bg-dark mb-3 " style="width: 400px; margin-right: 100px">
                            <div class="card-header" style="color: white; background-color: #4d4b4b;";> 
                              Frage 3
                            </div>
                            <div class="card-body"  style="color: white; background-color: #3d3c3c;"" ;>
                              <blockquote class="blockquote mb-0">
                                <div class="form-group row" style="margin-top: 20px;">
                                  <p  style="color: white;font-size: 15px; width: 50px;">Frage:</p>
                                  <div class="col-sm-10">
                                     <textarea id="f3q" class="form-control  bg-dark mb-3" style="height: 40px; width: 300px; color: white;" aria-label="With textarea"><%= frage_3 %></textarea>
                                  </div>                                 
                                </div >   
                       
                                <div class="form-group row" style="margin-top: 20px;">
                                    <p  style="color: white;font-size: 13px; width: 50px;">Antwort:</p>
                                  <div class="col-sm-10">
                                     <textarea id="f3a" class="form-control  bg-dark mb-3" style="height: 150px; width: 300px; color: white;" aria-label="With textarea"><%= antwort_3 %></textarea>
                                  </div>
                                </div>  
                              </blockquote>
                              <a href="#" id="f3" class="btn btn-primary" id="f3" style="margin-top: 5px;">Frage & Antwort updaten</a>
                            </div>
                          </div>

                          <div class="card bg-dark mb-3 " style="width: 400px;margin-right: 100px">
                            <div class="card-header" style="color: white; background-color: #4d4b4b;";> 
                              Frage 4
                            </div>
                            <div class="card-body"  style="color: white; background-color: #3d3c3c; ";>
                              <blockquote class="blockquote mb-0">
                                <div class="form-group row" style="margin-top: 20px;">
                                  <p  style="color: white;font-size: 15px; width: 50px;">Frage:</p>
                                  <div class="col-sm-10">
                                     <textarea id="f4q" class="form-control  bg-dark mb-3" style="height: 40px; width: 300px; color: white;" aria-label="With textarea"><%= frage_4 %></textarea>
                                  </div>                                 
                                </div >   
                        
                                <div class="form-group row" style="margin-top: 20px;">
                                    <p  style="color: white;font-size: 13px; width: 50px;">Antwort:</p>
                                  <div class="col-sm-10">
                                     <textarea id="f4a" class="form-control  bg-dark mb-3" style="height: 150px; width: 300px; color: white;" aria-label="With textarea"><%= antwort_4 %></textarea>
                                  </div>
                                </div>  
                              </blockquote>
                              <a href="#" id="f4" class="btn btn-primary" id="f4" style="margin-top: 5px;">Frage & Antwort updaten</a>
                            </div>
                          </div>

                          <div class="card bg-dark mb-3 " style="width: 400px; margin-right: 100px">
                            <div class="card-header" style="color: white; background-color: #4d4b4b;";> 
                              Frage 5
                            </div>
                            <div class="card-body"  style="color: white; background-color: #3d3c3c;"" ;>
                              <blockquote class="blockquote mb-0">
                                <div class="form-group row" style="margin-top: 20px;">
                                  <p  style="color: white;font-size: 15px; width: 50px;">Frage:</p>
                                  <div class="col-sm-10">
                                     <textarea id="f5q" class="form-control  bg-dark mb-3" style="height: 40px; width: 300px; color: white;" aria-label="With textarea"><%= frage_5 %> </textarea>
                                  </div>                                 
                                </div >   
                       
                                <div class="form-group row" style="margin-top: 20px;">
                                    <p  style="color: white;font-size: 13px; width: 50px;">Antwort:</p>
                                  <div class="col-sm-10">
                                     <textarea id="f5a" class="form-control  bg-dark mb-3" style="height: 150px; width: 300px; color: white;" aria-label="With textarea"><%= antwort_5 %></textarea>
                                  </div>
                                </div>  
                              </blockquote>
                              <a href="#" id="f5" class="btn btn-primary" id="f5" style="margin-top: 5px;">Frage & Antwort updaten</a>
                            </div>
                          </div>

                          <div class="card bg-dark mb-3 " style="width: 400px; margin-right: 100px">
                            <div class="card-header" style="color: white; background-color: #4d4b4b;";> 
                                Frage 6
                              </div>
                              <div class="card-body"  style="color: white; background-color: #3d3c3c;"" ;>
                                <blockquote class="blockquote mb-0">
                                  <div class="form-group row" style="margin-top: 20px;">
                                    <p  style="color: white;font-size: 15px; width: 50px;">Frage:</p>
                                    <div class="col-sm-10">
                                       <textarea id="f6q" class="form-control  bg-dark mb-3" style="height: 40px; width: 300px; color: white;" aria-label="With textarea"> <%= frage_6 %></textarea>
                                    </div>                                 
                                  </div >   
                         
                                  <div class="form-group row" style="margin-top: 20px;">
                                    <p  style="color: white;font-size: 13px; width: 50px;">Antwort:</p>
                                    <div class="col-sm-10">
                                       <textarea id="f6a" class="form-control  bg-dark mb-3" style="height: 150px; width: 300px; color: white;" aria-label="With textarea"><%= antwort_6 %></textarea>
                                    </div>
                                  </div>  
                                </blockquote>
                                <a href="#" id="f6" class="btn btn-primary" id="f6" style="margin-top: 5px;">Frage & Antwort updaten</a>
                              </div>
                          </div>

                          <div class="card bg-dark mb-3 " style="width: 400px;margin-right: 100px">
                            <div class="card-header" style="color: white; background-color: #4d4b4b;";> 
                              Frage 7
                            </div>
                            <div class="card-body"  style="color: white; background-color: #3d3c3c; ";>
                              <blockquote class="blockquote mb-0">
                                <div class="form-group row" style="margin-top: 20px;">
                                  <p  style="color: white;font-size: 15px; width: 50px;">Frage:</p>
                                  <div class="col-sm-10">
                                     <textarea id="f7q" class="form-control  bg-dark mb-3" style="height: 40px; width: 300px; color: white;" aria-label="With textarea"><%= frage_7 %></textarea>
                                  </div>                                 
                                </div >   
                        
                                <div class="form-group row" style="margin-top: 20px;">
                                    <p  style="color: white;font-size: 13px; width: 50px;">Antwort:</p>
                                  <div class="col-sm-10">
                                     <textarea id="f7a" class="form-control  bg-dark mb-3" style="height: 150px; width: 300px; color: white;" aria-label="With textarea"><%= antwort_7 %></textarea>
                                  </div>
                                </div>  
                              </blockquote>
                              <a href="#" id="f7" class="btn btn-primary" id="f7" style="margin-top: 5px;">Frage & Antwort updaten</a>
                            </div>
                          </div>

                          <div class="card bg-dark mb-3 " style="width: 400px; margin-right: 100px">
                            <div class="card-header" style="color: white; background-color: #4d4b4b;";> 
                              Frage 8
                            </div>
                            <div class="card-body"  style="color: white; background-color: #3d3c3c;"" ;>
                              <blockquote class="blockquote mb-0">
                                <div class="form-group row" style="margin-top: 20px;">
                                  <p  style="color: white;font-size: 15px; width: 50px;">Frage:</p>
                                  <div class="col-sm-10">
                                     <textarea id="f8q" class="form-control  bg-dark mb-3" style="height: 40px; width: 300px; color: white;" aria-label="With textarea"> <%= frage_8 %></textarea>
                                  </div>                                 
                                </div >   
                       
                                <div class="form-group row" style="margin-top: 20px;">
                                    <p  style="color: white;font-size: 13px; width: 50px;">Antwort:</p>
                                  <div class="col-sm-10">
                                     <textarea id="f8a" class="form-control  bg-dark mb-3" style="height: 150px; width: 300px; color: white;" aria-label="With textarea"><%= antwort_8 %></textarea>
                                  </div>
                                </div>  
                              </blockquote>
                              <a href="#" id="f8" class="btn btn-primary" id="f8" style="margin-top: 5px;">Frage & Antwort updaten</a>
                            </div>
                          </div>

                          <div class="card bg-dark mb-3 " style="width: 400px; margin-right: 100px">
                            <div class="card-header" style="color: white; background-color: #4d4b4b;";> 
                                Frage 9
                              </div>
                              <div class="card-body"  style="color: white; background-color: #3d3c3c;"" ;>
                                <blockquote class="blockquote mb-0">
                                  <div class="form-group row" style="margin-top: 20px;">
                                    <p  style="color: white;font-size: 15px; width: 50px;">Frage:</p>
                                    <div class="col-sm-10">
                                       <textarea id="f9q" class="form-control  bg-dark mb-3" style="height: 40px; width: 300px; color: white;" aria-label="With textarea"> <%= frage_9 %></textarea>
                                    </div>                                 
                                  </div >   
                         
                                  <div class="form-group row" style="margin-top: 20px;">
                                    <p  style="color: white;font-size: 13px; width: 50px;">Antwort:</p>
                                    <div class="col-sm-10">
                                       <textarea id="f9a" class="form-control  bg-dark mb-3" style="height: 150px; width: 300px; color: white;" aria-label="With textarea"><%= antwort_9 %></textarea>
                                    </div>
                                  </div>  
                                </blockquote>
                                <a href="#" id="f9" class="btn btn-primary" id="f9" style="margin-top: 5px;">Frage & Antwort updaten</a>
                              </div>
                          </div>

                    </div>
                  </div>
            </div>

            
        </body>
        
</html>

<style>
  body{
          background-color: #413e3e;
          color: #464444;
          margin: 0 ;
      }


</style>

<script>

$('#f1').on('click', function(event) {
  window.location.href = "/aofdhvbawes-dashboardreg?topic=question_1&question=" + $("#f1q").val() + "&answer=" + $("#f1a").val();
});

$('#f2').on('click', function(event) {
  window.location.href = "/aofdhvbawes-dashboardreg?topic=question_2&question=" + $("#f2q").val() + "&answer=" + $("#f2a").val();
});

$('#f3').on('click', function(event) {
  window.location.href = "/aofdhvbawes-dashboardreg?topic=question_3&question=" + $("#f3q").val() + "&answer=" + $("#f3a").val();
});

$('#f4').on('click', function(event) {
  window.location.href = "/aofdhvbawes-dashboardreg?topic=question_4&question=" + $("#f4q").val() + "&answer=" + $("#f4a").val();
});

$('#f5').on('click', function(event) {
  window.location.href = "/aofdhvbawes-dashboardreg?topic=question_5&question=" + $("#f5q").val() + "&answer=" + $("#f5a").val();
});

$('#f6').on('click', function(event) {
  window.location.href = "/aofdhvbawes-dashboardreg?topic=question_6&question=" + $("#f6q").val() + "&answer=" + $("#f6a").val();
});

$('#f7').on('click', function(event) {
  window.location.href = "/aofdhvbawes-dashboardreg?topic=question_7&question=" + $("#f7q").val() + "&answer=" + $("#f7a").val();
});

$('#f8').on('click', function(event) {
  window.location.href = "/aofdhvbawes-dashboardreg?topic=question_8&question=" + $("#f8q").val() + "&answer=" + $("#f8a").val();
});

$('#f9').on('click', function(event) {
  window.location.href = "/aofdhvbawes-dashboardreg?topic=question_9&question=" + $("#f9q").val() + "&answer=" + $("#f9a").val();
});

</script>
